.right-navbar-container{
    margin: 10px 0;
    padding: 6px 18px;
    background-color: #ffebd6;
    border-radius: 4px;
    width: 10%;
}

.menu-h2{
    text-align: center;
}

.right-navbar-btns{
    display: flex;
    flex-direction: column;
}

.new-client-btn{
    padding: 12px;
    margin: 16px 0;
    background-color: #ff7328;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.new-client-btn:hover{
    background-color: #c34400;
}

.new-tariff-btn{
    padding: 12px;
    margin: 20px 0;
    background-color: #b3b3b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.new-tariff-btn:hover{
    background-color: #828282;
}

.tariff-list-btn{
    padding: 12px;
    margin: 20px 0;
    background-color: #b3b3b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.tariff-list-btn:hover{
    background-color: #828282;
}